# Ignore all pdfs, pngs, and jpegs
*.pdf
*.png
*.jpg
*.jpeg

# Ignore all .DS_Store files
.DS_Store

# Ignore all number files 
*.number

# Ignore all csv files 
*.csv

# Ignore certain mac files
*.numbers
*.key
*.pptx

# Ignore directories 
__pycache__/
qcbm/
